name: Build Workflow
 
on:
  push:
    branches: [ main ]
 
jobs:
  build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Build project
        run: echo "Building project...."
